# Base URL of the auth API server
NEXT_PUBLIC_API_BASE_URL=https://auth.worldpetsassociation.com/api/v1

# Base URL of this admin panel
NEXTAUTH_URL=https://auth-admin.worldpetsassociation.com

# Secret for NextAuth.js session
NEXTAUTH_SECRET=your_strong_nextauth_secret
